extends layout/main

block content 
    .video-container
        .video__player
            video(src=`/${videos.fileUrl}`, controls=true) 
        .video__info
            a(href=routes.videos+routes.videoEdite(videos.id)) 
                button 비디오 수정
            h3.video__title=videos.title
            span.video__views=videos.views
            p.video__description=videos.description
        .video__comments
            if videos.comments.length === 1
                span.video__comments-number 1 comment
            else 
                span.video__comments-number #{videos.comments.length} comments